<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Congratulation</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    {{#if nameMistake}}
        <div class="pop-up-container">
            <div class=".pop-up">
                <div>You are alreagy registered</div>
                <a href="/" class="btn">Go home</a>
                <a href="/logonation" class="btn">Log in</a>
    <!--            <a href="/password-recovery" class="btn">Восстановить пароль</a>-->
            </div>
        </div>
    {{/if}}

    {{#if loginMistake}}
        <div class="pop-up-container">
            <div class=".pop-up">
                <div>This login is already taken <br> Please, choose another login</div>
                <!--<a href="/registration" class="btn">Try again</a>-->
                <a class="btn" onclick="window.history.back()">Try again</a>
                <a href="/" class="btn">Go home</a>
                <a href="/logonation" class="btn">Log in</a>
                <!--<a href="/password-recovery" class="btn">Восстановить пароль</a>-->
            </div>
        </div>
    {{/if}}

    {{#if noMistakes}}
        <div class="pop-up-container">
            <div class=".pop-up">
                <div>Sign up is successful. <br> Please, do log in</div>
                <a href="/logonation" class="btn">Log in</a>
                <a href="/" class="btn">Go home</a>
                <!--<a href="/password-recovery" class="btn">Восстановить пароль</a>-->
            </div>
        </div>
    {{/if}}
</body>
</html>
