<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="all-users-section">
        <h2 class="user-title">USERS</h2>
        <div class="user-container container">
            {{#each userArr}}
                <div class="user-item">
                    <div>Name: {{this.name}}</div>
                    <div>Age: {{this.age}}</div>
                    <div>Lovely music: {{this.music}}</div>
                </div>
            {{/each}}
        </div>
        <a href="/" class="btn">Go home</a>
    </div>
</body>
</html>
