<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="main-header">
        <div class="centered">
            <h1 class="header-title">Welcome!</h1>
            <a href="/registration" class="btn sign-btn">Sign up</a>
            <a href="/logonation" class="btn sign-btn">Sign in</a>
            <a href="/users" class="btn sign-btn">Check all users</a>
        </div>
    </header>
</body>
</html>
