<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <h1>Add car</h1>
    <form action="/cars" method="post">
        <div>
            <label for="userId">User id</label>
            <input type="text" neme="userId" id="userId">
        </div>

        <div>
            <label for="model">Model</label>
            <input type="text" name="model" id="model">
        </div>

        <div>
            <label for="year">Year</label>
            <input type="text" name="year" id="year">
        </div>

        <div>
            <label for="color">Color</label>
            <input type="text" name="color" id="color">
        </div>

        <button type="submit">Add</button>
    </form>

    <a href="/cars">All cars</a>
</body>
</html>
